<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>某品號所有庫別存量</title>


    <script src="../../../../git/product_service/WebContent/js/angular-1.5.7.min.js"></script>
    <script src="../../../../git/product_service/WebContent/js/app.js"></script>

</head>
<body ng-app="productApp">


<div ng-controller="singleProduct as ctrl">


    
    
    <span ng-repeat="warehouse in ctrl.warehouses">
    	<input type="checkbox" ng-model="warehouse.check" >{{warehouse.name}}
    </span>
    <br><br><br>
    品號 or 品名：<input ng-model="ctrl.productID" type="text" ng-keypress="($event.which === 13)?ctrl.addProductInfo(ctrl.productID):0"><button ng-click="ctrl.addProductInfo(ctrl.productID)" >查詢資料</button>
    <br><br><br>

    <table border="1" width="100%;" border="1px;" cellpadding="0px" cellspacing="0px">
        <thead>
            <tr>
                <th>品號</th>
                <th>品名</th>
                <th>儲位</th>
                <th>修改儲位</th>
                <th ng-repeat="warehouse in ctrl.warehouses" ng-bind="warehouse.name" ng-show="warehouse.check" ></th>
                <th>刪除此行</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in ctrl.products">
               <td ng-bind="product.productID"></td>
               <td ng-bind="product.productName"></td>
               <td ng-bind="product.storagePlace"></td>
               <td><a href="" ng-click="ctrl.href(product.productID)">修改儲位</a></td>
               <td ng-repeat="warehouse in ctrl.warehouses" ng-bind="ctrl.amountInWarehouse(product,warehouse)" ng-show="warehouse.check" ></td>
               <td><img src="../../../../git/product_service/WebContent/img/delete_png.png" height="30px" ng-click="ctrl.removeProductInfo(product.productID)"></td>
            </tr>
        </tbody>
    </table>
    
    
    <br><br><hr><br>
    
    
        重覆出現直到所有庫存量顯示完畢(某品號)
	
    <div ng-repeat="product in ctrl.products" ><hr>
        品名:<span ng-bind="product.productName" ></span><br>
        品號:<span ng-bind="product.productID" ></span><br>
        儲位:<span ng-bind="product.storagePlace" ></span><br>
        單位:<span ng-bind="product.unit" ></span><br>
        倉別 實際在庫量
        <div ng-repeat="amount in product.amountList">
            <span style="color: red" ng-bind="amount.warehouse.id"></span> {{amount.warehouse.name}}
            {{amount.amountInWarehouse}}
        </div>
    </div>

</div>


</body>
</html>